@import 'tailwindcss';

:root {
  --background: #F2ECE4;
  --foreground: #171717;
  --sage: #748873;
  --sand: #d1a980;
  --linen: #e5e0d8;
  --mist: #f8f8f8;
  --royal: #452424; /* deep traditional tone */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sage: var(--sage);
  --color-sand: var(--sand);
  --color-linen: var(--linen);
  --color-mist: var(--mist);
  --color-royal: var(--royal);

  /* Fonts */
  --font-heading: var(--ff-heading);
  --font-body: var(--ff-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body), system-ui, sans-serif;
}
